{%extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="card" style="min-height: 78vh;">
    <div class="card-body">

        <center>
            <h6>{{Judul}}</h6>
        </center>
        <table id="table" class="table table-bordered" style="text-align: center;" class="display">
            <thead style ="text-align:center;font-size:small;background-color: lightcyan;" >
            <tr>
                <th>No</th>
                <th>FP Number</th>
                <th>Date Created</th>
                <th>User Name</th>
                <th>Description</th>
                <th>Value</th>
                <th>Dept Head</th>
                <th>Finance</th>
                <th>Direktur</th>
                <th>Received By</th>
                <th>Status</th>
                <!-- <th>PDF</th> -->
            </tr>
            </thead>
            {% for FP in ListFP %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{{FP.FP_Number}}/">{{FP.FP_Number}}</a></td>
                <td>{{FP.Date_Created}}</td>
                <td>{{FP.User_Name}}</td>
                <td>{{FP.Description|slice:"0:10"}}...</td>
                <td>Rp. {{FP.Amount}},-</td>
                <td>
                    <div>{{FP.DeptHead_Approval|default_if_none:"Waiting Approval"}}</div>
                    <div>{{FP.DeptHead_Approval_Date|default_if_none:""}}</div>
                    <div>{{FP.DeptHead|default_if_none:"N/A"}}</div>
                </td>
                <td>
                    <div>{{FP.Finance_Approval|default_if_none:"Waiting Approval"}}</div>
                    <div>{{FP.Finance_Approval_Date|default_if_none:""}}</div>
                    <div>{{FP.Finance|default_if_none:""}}</div>
                </td>
                <td>
                    <div>{{FP.Dir_Finance_Approval|default_if_none:"Waiting Approval"}}</div>
                    <div>{{FP.Dir_Finance_Approval_Date|default_if_none:""}}</div>
                    <div>{{FP.Dir_Finance|default_if_none:""}}</div>
                </td>
                <td>
                    <div>{{FP.Received_Date|default_if_none:""}}</div>
                    <div>{{FP.Receiver_Name|default_if_none:""}}</div>
                </td>
                <td>{{FP.FP_Status}}
                    <div>{% if FP.FP_Status == "Finished" %}
                        <a href="/Media/Document/{{FP.FP_Number}}.pdf">Download</a>
                       
                        {% elif FP.FP_Status == "Rejected" %}

                            {{FP.Reject_Message}}
                        {% endif %}</div>
                </td>
          
            </tr>
            {% endfor %}

        </table>
        <style>
            thead input {
                width: 100%;
            }

            thead {
                width: auto;
            }

            table {
                width: 100%;
            }
        </style>

        <script>

            $(document).ready(function () {
                // Setup - add a text input to each footer cell

                $('#table thead tr').clone(true).appendTo('#table thead');
                $('#table thead tr:eq(1) th').each(function (i) {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });


                });

                var table = $('#table').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true
                });


            });







        </script>

    </div>
</div>
{% endblock %}